.header {
  background-color: rgb(93, 155, 218);
  border: 2px solid;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  font-size: 20px;
}

.logo {
  width: 100px;
}

.body {
  padding: 5px;
  margin: 10px;
}
.search {
  padding: 10px;
}

.res-container {
  display: flex;
}
.res-card {
  background-color: rgb(186, 180, 180);
  margin: 5px;
  width: 200px;
  padding: 5px;
}

.res-card:hover {
  border: 1px solid;
  cursor: pointer;
}

.res-logo {
  width: 100%;
}
